config/ChanceCubes/CustomRewards/Resourcepack/CustomSounds-Resourcepack.zip
config/forge.cfg
config/InvTweaks/InvTweaks.cfg
config/journeymap_ModInfo.cfg
config/jei/worldSettings.cfg
config/splash.properties
discordsuite/
journeymap/data/
journeymap/journeymap.log
logs/
mods/
reports/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
crash-reports/

.ReAuth.cfg
crafttweaker.log
icon.png
options.txt
pixel.dat
pixelc.dat
servers.dat
usercache.json
usernamecache.json
