discordsuite/
journeymap/journeymap.log
logs/
mods/
reports/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
crash-reports/

.ReAuth.cfg
crafttweaker.log
icon.png
options.txt
pixel.dat
servers.dat
usercache.json
usernamecache.json

config/forge\.cfg

config/jei/worldSettings\.cfg
